.button {
    font-weight: 700;
    line-height: 13px;
    border: none;
    border-radius: 2px;
    width: 158px;
    height: 48px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);

    &_primary-btn {
        background-color: $btn-primary-bg-color;
        color: $btn-primary-text-color;
    }

    &_secondary-btn {
        background-color: $btn-secondary-bg-color;
        color: $btn-secondary-text-color;
    }
}