li {
  list-style-type: none;
  font-size: 1.5em;
}

.second {
  text-decoration: line-through;
}

.first {
  text-decoration: overline;
  text-decoration-color: red;
  -moz-text-decoration-color: red;
}
