.list li {
  list-style: none;
  font-size: 1.5em;
}

.list li:last-child {
  text-decoration: underline;
  text-decoration-color: green;
  -moz-text-decoration-color: green;
}

.list li:nth-child(2) {
  text-decoration: line-through;
}

.list li:first-child {
  text-decoration: overline;
  text-decoration-color: red;
  -moz-text-decoration-color: red;
}
