div {
    border: 2px solid black;
}

.div1 {
    margin: 50px;
    background-color: blue;
}

.div1, .div2, .div3, .div4 {
    padding: 50px;
}

.div2 {
    background-color: yellow;
}

.div3 {
    background-color: green;
}

.div4 {
    background-color: pink;
}