* {
    box-sizing: border-box;
}

header {
    background-color: darkturquoise;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header, .navigation, .nav-list {
    height: 40px;
}

.nav-list {
    position: relative;
    margin: 0;
}

.nav-item {
    list-style: none;
    float: left;
    margin-left: 16px;
    color: white;
    line-height: 40px;
    height: 100%;
}

.content {
    height: 5000px;
    background-color: beige;
}

.head {
    position: absolute;
    z-index: 0;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.ear {
    position: absolute;
    z-index: 0;
    width: 40px;
    height: 60px;
    background-color: brown;
}

.ear_left {
    top: calc(50% - 160px);
    left: calc(50% - 140px);
}

.ear_right {
    top: calc(50% - 160px);
    left: calc(50% + 100px);
}

.eye {
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 80px;
}

.eye_left {
    left: 40px;
}

.eye_right {
    right: 40px;
}



