.update-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__close-btn {
    background: transparent;
    border: none;
    padding: 0;
    align-self: flex-end;
  }

  &__delete-btn {
    margin-top: 10px;
  }
}
