.logo {
  display: flex;
}

.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}

.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.logo__description {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.6;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
