.navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}

.navigation__item {
  color: inherit;
  text-decoration: none;
  line-height: 25px;
  margin-left: 50px;
}

.navigation__item:first-child {
  margin-left: 0;
}

.navigation__item_selected {
  font-weight: 700;
}

/* .navigation__arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 5px;
  margin-bottom: 2px;
} */
