* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans";
  color: #2b292d;
  font-size: 18px;
}

button {
  cursor: pointer;
}

.page {
  width: 100%;
}

.top-section {
  background-color: #f3c6bd;
}

.downloads {
  display: flex;
  gap: 10px;
}

.downloads__item {
  text-decoration: none;
  max-height: 40px;
}

.additional-navigation {
  display: flex;
  gap: 29px;
}

.additional-navigation__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 18px;
}

.additional-navigation__list {
  width: 265px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links__item {
  margin-bottom: 5px;
}

.nav-links__link {
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  text-decoration: none;
}
