/* TEXT VARIABLES */

$base-text-color: #2b292d;
$base-font-family: "Work Sans";
$base-font-size: 18px;

/* BUTTONS VARIABLES */

$btn-primary-bg-color: #3040c4;
$btn-secondary-bg-color: #fff;

$btn-primary-text-color: #fff;
$btn-secondary-text-color: #3040c4;

/* HOVER VARIABLES */

$card-hover-bg-color: #3141C5;
$card-hover-text-color: #fff;