@import "variables";
@import "breakpoints";
@import "functions";

* {
    box-sizing: border-box;
}

html {
    font-family: $base-font-family, sans-serif;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    color: $base-font-color;
}

button {
    cursor: pointer;
}

/* COMPONENT-BLOCKS */

@import "components/logo";
@import "components/buttons";
@import "components/review";
@import "components/section";
@import "components/workflow-step";
@import "components/features-list";
@import "components/feature";
@import "components/user";
@import "components/purpose";
@import "components/story-card";

/* SECTION-BLOCKS */

@import "blocks/page";
@import "blocks/page-header";
@import "blocks/headline";
@import "blocks/visit-desktop";
@import "blocks/reviews";
@import "blocks/workflow";
@import "blocks/features";
@import "blocks/users";
@import "blocks/purposes";
@import "blocks/consultation";
@import "blocks/stories";
@import "blocks/page-footer";