.header {
    height: 64px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;

    &__button,
    &__navigation,
    &__logo-description {
        display: none;
    }

    &__logo-image {
        margin-left: 15px;
    }

    &__menu-button {
        width: 58px;
        border: none;
        border-left: 1px solid #00000026;
        height: 100%;
        margin-left: auto;
        background: transparent;
    }

    &__menu-icon {
        display: inline-block;
        width: 18px;
        height: 13px;
        background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
    }
}