* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  height: 3em;
  padding: 1em;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.header-btn {
  font-size: 2em;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.navigation {
  width: 20%;
  padding: 0.5em;
}

.nav-list {
  padding: 0;
  list-style: none;
}

.nav-list-item {
  background-color: #808080;
  color: white;
  height: 2em;
  margin-bottom: 0.5em;
}

.nav-list-link {
  display: inline-block;
  width: 100%;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .header-btn {
    display: block;
  }

  .navigation {
    display: none;
  }
}
